<p>Send feedback to <a href="mailto:openstack-dev@lists.openstack.org?subject=[ThirdParty][CI]">openstack-dev@lists.openstack.org</a>. Include "[ThirdParty][CI]" in the subject</p>
<p>Project source is available in the <a href="https://git.openstack.org/cgit/openstack-infra/ciwatch">openstack-infra/ciwatch git repository</a>.</p>
<p>Join on <a href="https://wiki.openstack.org/wiki/IRC">Freenode IRC</a> channel: #openstack-infra</p>
