<p>Send feedback to <a href="mailto:openstack-dev@lists.openstack.org?subject=[ThirdParty][CI]">openstack-dev@lists.openstack.org</a>. Include "[ThirdParty][CI]" in the subject</p>
<p>Join on <a href="https://wiki.openstack.org/wiki/IRC">Freenode IRC</a> channel: #openstack-infra</p>
